.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: black;
  height: 56px;
}



.mainImage {
  width: 100%;
}

h4{
  font-family: 'Helvetica';
  font-style: bold;
  font-size: 18px; 
}

.smallLabel{
  color: #9B9B9B;
  font-size: 12px;   
}

.greenh4{
  color: #106838;
}

.stats{
  display: flex;
  justify-content: space-between;
}

.inverted{
  color:white;
}